# Beszel - Lightweight Server Monitoring
# 50MB RAM usage. Perfect for VPS.

services:
  beszel-agent:
    image: henrygd/beszel-agent
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Monitor disk stats
      - /:/extra/filesystem:ro
    environment:
      LISTEN: 45876
      KEY: "${BESZEL_AGENT_KEY}"
      TOKEN: "${BESZEL_AGENT_TOKEN}"
      # Use localhost:8090 since they are on the same machine and we want to avoid Hairpin NAT issues with Cloudflare
      # Or trust Cloudflare:
      HUB_URL: https://monitor.pika.stream

  beszel-hub:
    image: "henrygd/beszel:latest"
    container_name: "beszel-hub"
    restart: unless-stopped
    ports:
      - "127.0.0.1:8090:8090" # Localhost only (Cloudflare Tunnel target)
    volumes:
      - ./beszel_data:/beszel_data

  # Public Status Page & Incident Monitoring
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped
    ports:
      - "127.0.0.1:3002:3001" # Localhost only (Cloudflare Tunnel target)
    volumes:
      - ./uptime-kuma-data:/app/data
